.MenuButton:before {
  content:'';
  position: absolute;
  z-index: -1;

  top: 6px;
  left: 20px;
  height: 50%;
  width: calc(100% - 100px);  

  border-radius: 10px;
  background: linear-gradient(rgba(255, 255, 255, 0.556), rgba(255,255,255,0.2));
}

.MenuButton {
  position: absolute;
  z-index: 10;
  width: calc(2rem + 20vw);
  min-width: 9rem;
  height: 10vh;
  padding-top: 4px;

  bottom: 20%;

  transform: translateX(-50%);

  border: rgb(113, 191, 240) solid 3px;
  border-radius: 60px;
  box-shadow: 0px 0px 15px 10px rgb(159, 159, 159);

  background-image: linear-gradient(to top left, rgb(128, 128, 128), white);

  font-family: 'two-weekend-bold';
  font-size: calc(0.75rem + 0.7vw);
  white-space: nowrap;
  letter-spacing: 0px;
  color:rgb(73, 73, 73);

  transition: all 0.35s ease-in-out;
}

.MenuButton:after {
  content:'';
  position: absolute;
  z-index: -1;

  bottom: 8px;
  right: 20px;
  height: 45%;
  width: calc(100% - 80px); 

  border-radius: 10px;
  background: linear-gradient(rgba(86, 86, 86, 0.093), rgba(104, 104, 104, 0.082));
}

.MenuButton:hover {
  width: calc(calc(2rem + 20vw) * 1.15);
  height: calc(10vh * 1.15);
  cursor: pointer;
  box-shadow: 0px 0px 15px 10px rgb(159, 159, 159),
    inset 0px 0px 10px 65px rgba(35, 125, 173, 0.200);
}
