
.App {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 10rem;
  cursor:grab;
  border:rgb(52, 120, 255) 3px solid;
  /* border-image: linear-gradient(to right, rgb(215, 255, 113), rgb(0, 255, 119), rgb(255, 0, 230)) 1; */
}

.app__menu {
  position: relative;
  display: block; /*fixed*/
  justify-content: center;
}

.app__channels {
  position: relative;
  display: grid;
  width: max-content;
  flex-wrap: nowrap;
  grid-template-columns: auto auto auto auto;
  list-style: none;
  gap: 0.5rem;
  margin: 0 auto;
}

.app__channel {
  position: relative;
  background-color: white;
  width: 20vw;
  height: calc(20vw / 1.667);
  min-width: 200px;
  min-height: 120px;
  place-content: center;
  border-radius: 10% / 18%;
  border: solid 3px rgb(166, 166, 166);
  /* box-shadow:
    inset -4px -4px 8px rgba(0, 0, 0, 0.05),
    inset 4px 4px 8px rgba(255, 255, 255, 0.6),
    0 4px 8px rgba(0, 0, 0, 0.15); */
  overflow: hidden;
}

.app__channel:hover {
  cursor:pointer;
}

.app__channel img {
  display: flex;
  position: relative;
  width: 20vw;
  min-width: 170px;
  height: auto;
  z-index: 0;
  opacity: 0.8;
}

.app__content {
  padding-top: 1rem;
}

.App h1 { 
  font-family: 'two-weekend-bold';
  z-index: 0;
  position: relative;
}

.app__button {
  position:relative;
  display: inline-block;
  padding: 15px 25px;
  background-color: pink;
  background-image: linear-gradient(rgb(177, 88, 185),rgb(227, 196, 238));

  text-decoration: none;
  font-size: 25px;
  color: white;
  font-family: 'two-weekend-bold';

  border:none;
  border-radius: 10px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
}

.app__button:before {
  content:'';
  position: absolute;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: 50%;
  border-radius: 10px;
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.app__button:hover {
  background: linear-gradient(#073,#0fa);
}

.app__clouds {
  position:absolute;
  left: 0;
  top: 0;
  width: 50vw;
  opacity: 0.8;
}

.app__bottom {
  width: 100%;
}

.app__leftBlock, .app__rightBlock, .app__centerBlock {
  position: absolute;
  background:rgb(175, 174, 174);
  bottom: 19%;
  width: 32vw;
  height: 150px;
  border-top: 4px solid rgb(113, 191, 240);
}

/* .app__bottom {
} */

.app__centerBlock {
  height: 81px;
  width: 38.7%;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  border-width: 3px;
}

.app__leftBlock {
  left: 0%;
  border-top-right-radius: 200px;
  border-right: 0.08rem solid rgb(173, 171, 171);
  box-shadow: inset 20px 15px 30px rgba(128, 128, 128, 0.766); /* inset shadow */

}

.app__rightBlock {
  right: 0%;
  border-top-left-radius: 150px;
  border-left: 0.09rem solid rgb(175, 174, 174);
  box-shadow: inset -20px 15px 30px rgba(128, 128, 128, 0.766); /* inset shadow */

}

.app__rightPocket, .app__leftPocket {
  position: absolute;
  background-image: linear-gradient(rgba(128, 128, 128, 0.50), rgba(255, 255, 255, 0.222), rgba(128, 128, 128, 0.50));
  width: 230px;
  height: 135px;
}

.app__rightPocket {
  box-shadow: inset 20px 10px 20px rgba(255, 255, 255, 0.59);
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-top: solid rgba(75, 75, 75, 0.277) 5px;
  border-left: solid rgba(75, 75, 75, 0.277) 5px;
  border-bottom: solid rgba(75, 75, 75, 0.277) 5px;
  bottom: 2.5%;
  right: 0%;
}

.app__leftPocket {
  box-shadow: inset -20px 10px 20px rgba(255, 255, 255, 0.59);
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-top: solid rgba(75, 75, 75, 0.277) 5px;
  border-right: solid rgba(75, 75, 75, 0.277) 5px;
  border-bottom: solid rgba(75, 75, 75, 0.277) 5px;
  bottom: 2.5%;
  left: 0%;
}

.app__rightIcon, .app__leftIcon {
  position: absolute;
  padding: 0.5rem;
  background-image: linear-gradient(to left, rgba(128, 128, 128, 0.588), white);
  background-color: white;
  bottom: 11%;
  border-radius: 100px;
  height:100px;
  width:100px;
  border:4px solid rgb(77, 174, 223);
  box-shadow: 5px 5px 8px 2px rgba(0, 0, 0, 0.284);
  cursor: pointer;
  z-index: 1;
}

.app__rightIcon {
  right: 95px;
}

.app__leftIcon {
  left: 95px;
}

.app__rightIcon:after, .app__leftIcon:after {
  content:'';
  position: absolute;
  z-index: 0;
  top: 18px;
  left: 12px;
  width: calc(100% - 55px);
  height: 45%;
  border-radius: 100px;
  background: linear-gradient(rgba(255, 255, 255, 0.59), rgba(255, 255, 255, 0.144));
}

.app__info {
  color: gray;
  font-size: 80px;
}

.app__mail {
  color: gray;
  font-size: 80px;
}

.contact__background {
  display:flex;
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.626);
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.contact__me::before {
  background-image: url("/public/images/analog-background.jpg");
  background-size: cover;
  position: absolute;
  content:'';
  opacity: 0.25;

  left: 0px;
  top: 0px;

  width: 100%;
  height: 100%;

  border-radius: 50px;
}

.contact__me {
  position: fixed;
  z-index: 100;
  width: 50%;
  height: 90%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  opacity: 1;

  background-color: black;
  border-radius: 50px;
  text-align: left;
  padding-left: 5rem;
  padding-right: 5rem;
  font-size: 10px;
  color: gray;
  
  border: 4px solid rgb(113, 191, 240);
  outline: 4px solid white;
  outline-offset: 0px;
}

.contact__exit {
  position: fixed;
  z-index: 101;
  right: 5vw;
  top: 2vh;
  background: radial-gradient(white, lightgray, gray);
  width: 68px;
  height: 68px;
  padding: 2px;
  border-radius: 10000px;
  color: gray;
  outline: 2px solid rgb(255, 255, 255);
}

.contact__exitIcon {
  margin-top: 16px;
  font-size: 40px;
}

.contact__exit::after { 
  content:'';
  position: absolute;
  z-index: -1;
  top: 7px;
  left: 7px;
  width: calc(100% - 25px);
  height: 60%;
  border-radius: 100px;
  background: linear-gradient(rgba(255, 255, 255, 0.59), rgba(255, 255, 255, 0.144));
}

.contact__exit:hover {
  cursor: pointer;
}

.contact__form, .contact__message {
  display: inline-flex;
  position: relative;
  background: rgba(255, 255, 255, 0.801);
  
  left: 0rem;
  top: -0.75rem;
  width: 48vw;
  height: 6vh;
  border-radius: 20px;
  
  border: rgb(113, 191, 240) 4px solid;
}

.contact__form h1 {
  position: relative;
  z-index: 2;
  align-self: center;

  padding-left: 1rem;
  font-size: min(1.5vw, 15px);
  width: fit-content;
}

#message {
  padding-top: 0.5rem;
}

.contact__form::before, .contact__message::before {
  position: absolute;
  z-index: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  content: '';


  border: solid 3px white;
  border-radius: 20px;
}

.contact__form::after {
  content:'';
  position: absolute;
  z-index: 0;
  top: 2px;
  left: 2px;
  width: calc(100% - 4px);
  height: 50%;
  border-radius: 10px;
  background: linear-gradient(rgb(255, 255, 255), rgba(255,255,255,0.2));
}

.contact__field, .contact__fieldMail {
  position: absolute;
  height:inherit;
  z-index: 3;

  border: none;
  outline: none;

  background: transparent;
  font-family: 'two-weekend-bolder';
  font-size: min(1.5vw, 15px);
  color: rgba(0, 0, 0, 0.677);
  align-self: center;
}

#name {
  width: 35vw;
  padding-left: calc(5vw + 20px + 1rem);
}

.contact__fieldMail {
  width: 25vw;
  padding-left: min(calc(7vw + 6.5rem), 20vw);
}

.contact__message {
  background: linear-gradient(rgb(255, 255, 255), rgba(128, 128, 128, 0.914));
  height: 48vh;
}

.contact__message h1 {
  font-size: min(1.5vw, 15px);
  padding-left: 1rem;
}

.contact__messageField {
  position:absolute;
  left: 50%;
  transform: translateX(-50%);  
  padding-top: 7vh;
  width: 42vw;
  height: 30vh;

  border: none;
  border-radius: 5px;
  outline: none;
  resize: none;

  background: transparent;
  font-family: 'two-weekend';
  font-size: min(1.5vw, 15px);
  color: gray;
  text-shadow: 0.5px 1px black;
}

.contact__bottom {
  position: absolute;
  padding-top: 1rem;

  left: 50%;
  transform:translateX(-50%);
}

.contact__submit:before {
  content:'';
  position: absolute;
  z-index: -1;

  top: 8px;
  left: 20px;
  height: 45%;
  width: calc(100% - 155px);  

  border-radius: 10px;
  background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

.contact__submit {
  width: 350px;
  height: 60px;
  padding-top: 4px;

  position:relative;
  z-index: 1;

  outline: 1.8px solid white;
  border: rgb(113, 191, 240) solid 3px;
  border-radius: 30px;  

  background-image: linear-gradient(to top left, rgb(128, 128, 128), white);

  font-family: 'two-weekend-bold';
  font-size: 25px;
  color:rgb(73, 73, 73);
}

  .contact__submit:after {
    content:'';
    position: absolute;
    z-index: -1;

    bottom: 8px;
    right: 20px;
    height: 45%;
    width: calc(100% - 80px); 

    border-radius: 10px;
    background: linear-gradient(rgba(86, 86, 86, 0.093), rgba(104, 104, 104, 0.082));
  }

.contact__submit:hover {
  cursor: pointer;
  outline: 4px solid white;
}

.swal2-popup {
  font-family: 'Spectral';
  background-color: white;
  box-shadow: 0px 0px 30px 0px rgb(255, 255, 255);
}

.swal2-title {
  padding-top: 1rem;

  font-weight: 100;
  font-size: 40px;
  letter-spacing: -2px;
  color:black;
  text-shadow: 2px 1px 20px rgb(96, 96, 96);
}

.swal2-html-container {
  letter-spacing: -0.5px;
  text-shadow: 2px 1px 10px rgb(96, 96, 96);
}

.swal2-confirm {
  background-color: rgb(113, 191, 240);
}

.swal2-confirm:hover {
  background-color: rgb(38, 147, 214);
}
