.Contact {
    text-align: center;

    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    box-shadow: 0 0 0 8px rgb(166, 166, 166);
    overflow: hidden;
}

.contact__layout {
    position: absolute;
    z-index: 0;
    font-family: 'two-weekend-bold';
}