.Credits {
    position: relative;
    display: flex;
    height: 80%;

    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Spectral';
    overflow: hidden;
    
    box-shadow: 0 0 0 8px rgb(166, 166, 166);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
}

@media (max-width: 400px) {
    .Credits {
        margin-left: 8px;
        margin-right: -2px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 82%;
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
    }
}

@media (min-width: 2000px) {
    .Credits {
        border-top-left-radius: 300px;
        border-top-right-radius: 300px;
    }
}

.credits__content {
    background-color: rgba(0, 0, 0, 0.95);
    color:white;
    padding-left: 6rem;
    padding-right: 6rem;

    height: 100%;
    width: 100%;

    overflow-y: auto;
    scrollbar-color: black;
    font-weight: 100;
    font-size: max(min(1vw, 28px), 14px);
}

@media (max-width: 400px) {
    .credits__content {
        font-size: max(min(1vw, 28px), 11px);
    }
}

.credits__title {
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -4px;
    transform: skewX(-8deg);
    -webkit-text-stroke: 0.2px gray;
    text-shadow: 2px 2px 5px white;
}

@media (max-width: 400px) {
    .credits__title {
        font-size: 40px;
    }

    .credits__subTitle {
        font-size: 25px;
    }
}

.credits__content h1 {
    text-align: center;
    font-weight: 100;
    margin-bottom: 5px;
    transform: skewX(-8deg);
    -webkit-text-stroke: 0.2px gray;
    text-shadow: 2px 2px 5px white;
}

.credits__content a {
    color: red;
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
    text-underline-offset: 2.5px;
}

.credits__layout {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
}

@media (max-width: 850px) {
    .credits__layout {
        display: flex;
        flex-direction: column;
    }
}

.credits__header {
    padding-top: 2rem;
    font-size: 2rem;
    letter-spacing: -2px;
    color: white;
    margin-bottom: -15px;
}

.credits__packages h1, .credits__assets h1, .credits__design h1{
    letter-spacing: -2px;
}

.credits__packages, .credits__assets, .credits__design {
    letter-spacing: -0.5px;
    padding: 1rem;
}

.credits__design {
    margin-top: -5px;
}

#by {
    margin-left: 20px;
    margin-right: 20px;
}