.Credits {
    position: relative;
    display: flex;

    height: 100vh;

    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Spectral';
}

.credits__content {
    background-color: black;
    color:white;

}