.Credits {
    position: relative;
    display: flex;
    height: 80vh;

    justify-content: center;
    align-items: center;
    text-align: center;

    font-family: 'Spectral';
}

.credits__content {
    display: grid;
    grid-template-columns: auto auto auto ;
    background-color: rgb(0, 0, 0);
    color:white;
    padding-left: 6rem;
    padding-right: 6rem;

    height: 100%;
    width: 100%;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;

    outline: 8px solid rgb(166, 166, 166);
}