.Game {
    display: flex;
    font-family: 'two-weekend-bold';
}

.game__g {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-55%);
    text-shadow: 8px 2px 0px gray;
    font-size: calc(1rem + 40vw);

}

.game__m {
    font-size: calc(4vw);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-shadow: 4px 2px 0px gray;
}