:root {
  background-image: url('/public/images/analog.webp');
  background-size:1000px;
  background-color: rgba(255, 255, 255, 0.89);
  background-blend-mode:color;
  overflow-x: hidden;
  overflow-y: hidden;
  cursor: grab;
}

/*
/   Fixes for when background does not go light for mobile versions. 
*/

@media (max-width: 600px) {
  :root {
    background-size: 47vw;
  }
}

@media (max-width: 1024px) {
  :root {
    background-size: 20vw;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
  Fixes issue where components would shift when
  switching routes. 
*/

.transition-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} 

@font-face {
  font-family: 'Two-Weekend-Bolder';
  src: url('/public/fonts/twoweekendgo-bold.otf') format('opentype');
  font-weight: bolder;
  font-style: bolder;
  font-display: swap;
}

@font-face {
  font-family: 'Two-Weekend';
  src: url('/public/fonts/twoweekendgo-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Two-Weekend-Bold';
  src: url('/public/fonts/twoweekendgo-semibold.otf') format('opentype');
  font-weight: bold;
  font-style: bold;
  font-display: swap;
}