.Promo {
    display: flex;
    flex-direction: column;

    height: 79.4%;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    box-shadow: 0 0 0 8px rgb(166, 166, 166);

    background: linear-gradient(rgba(128, 128, 128, 0.712), rgba(255, 255, 255, 0.91));
    overflow: hidden;
}

@media (max-width: 400px) {
    .Promo {
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
    }
}

.promo__text {
    font-family: 'two-weekend-bold';
    /* font-size: 90px; */
    font-size: calc(1vw + 10vh);
    white-space: nowrap;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

@media (max-width: 600px) {
    .promo__text {
        margin-top: 15px;
        font-size: 75px;
    }
}

