.BisBlue {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 79.4%;
    background-color: rgba(0, 0, 0, 0.95);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    box-shadow: 0 0 0 8px rgb(166, 166, 166);
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-width: 400px) {
    .BisBlue {
        margin-left: 8px;
        margin-right: -2px;
        height: 82%;
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
    }
}

@media (min-width: 2000px) {
    .BisBlue {
        border-top-left-radius: 300px;
        border-top-right-radius: 300px;
    }
}

.bb__layout {
    margin: auto auto;
    flex-direction: column;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
}

@media (min-width: 800px) {
    .bb__layout {
        width: 100%;
        height: 100%;
    }
}

.bb__content {
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    position: relative; 
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    font-family: 'spectral';
}

@media (min-width: 800px) {
    .bb__content {
        justify-content: space-evenly;
        margin-bottom: 1%;
        margin-left: 10%;
        width: 30%; 
        height: 100%;
        align-self: flex-start;
    }
}

.bb__logo {
    position: relative;
    margin-top: -150px;
    margin-bottom: -140px;
    width: 400px;
}

@media (min-width: 800px) {
    .bb__logo {
        top: 0px;
        min-width: 400px;
        width: 20vw;
        max-width: 1000px;
    }
}

.bb__desc {
    height: fit-content;
    width: 90%;

    font-weight: 100;
    text-align: center;
}

@media (min-width: 800px) {
    .bb__desc {
        font-size: max(1rem, 1vw);
    }
}

.bb__videoContainer {
    display: inline-block;
}

@media (min-width: 800px) {
    .bb__videoContainer {
        position: absolute;
        left: 0px;
        width: 100vw;
        height: 75vh;
    }
}

.bb__video {
    display: block;
    position: relative;
    padding-top: 2px;
    width: 100%;
    height:auto;
    object-fit:contain;
}

@media (min-width: 800px) {
    .bb__video {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 65vw;
        height: 100%;
        object-fit: contain;
    }
}

.bb__tools {
    width: 70%;
    text-align: center;
    font-size: min(12px, 3vw); 
}

@media (min-width: 800px) {
    .bb__tools {
        font-size: max(1vw, 1rem);
    }
}