.BisBlue {
    height: 79.4%;
    background-color: rgba(0, 0, 0, 0.95);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    box-shadow: 0 0 0 8px rgb(166, 166, 166);
    overflow: hidden;
}

@media (max-width: 400px) {
    .BisBlue {
        border-top-left-radius: 70px;
        border-top-right-radius: 70px;
    }
}
.bb__layout {
    display: flex;
    justify-content: space-evenly;
}

.bb__image {
    position: relative;
    top: 0px;
    padding-top: 2px;
}

.bb__image img {
    height: calc(80vh - 7px);
    width:50vw;
    object-fit: cover;
}

.bb__content {
    position: relative;
    top: 0px;
    right: 5%;
    color:white;
    text-align: right;
    width: 30vw;
    padding-left: 10vw;
    height: calc(80vh - 5px);
    outline: solid red 2px;
    align-content: center;
    font-size: 15px;
    font-family: 'spectral';
}

.bb__content h1 {
    font-weight: 100;
    letter-spacing: -1px;
}

.bb__logo {
    margin-top: -10rem;
    margin-bottom: -8rem;
    padding-right: 2rem;
    width: 400px;
}