.Exedra {
    height: 79.4%;
    background-color: rgba(0, 0, 0, 0.95);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    box-shadow: 0 0 0 8px rgb(166, 166, 166);
    overflow: hidden;
}

.ex__layout {
    display: flex;
    justify-content: space-evenly;
}

.ex__image {
    position: relative;
    top: 0px;
    padding-top: 3px;
}

.ex__image img {
    height: calc(80vh - 8px);
    width:50vw;
    object-fit: cover;
}

.ex__content {
    position: relative;
    top: 0px;
    right: 5%;
    color:white;
    text-align: right;
    width: 30vw;
    padding-left: 10vw;
    height: calc(80vh - 5px);
    outline: solid red 2px;
    align-content: center;
    font-size: 15px;
    font-family: 'spectral';
}

.ex__content h1 {
    font-weight: 100;
    letter-spacing: -1px;
}