.Exedra {
    height: 80vh;

    background-color: rgba(0, 0, 0, 0.95);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    box-shadow: 0 0 0 8px rgb(166, 166, 166);
}

.ex__image {
    position: absolute;
    left: 25%;
    top: 0px;
    transform: translateX(-30%);
}

.ex__image img {
    height: 80vh;
    object-fit: cover;
}