.Exedra {
    height: 79.4vh;
    background-color: rgba(0, 0, 0, 0.95);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    box-shadow: 0 0 0 8px rgb(166, 166, 166);
}

.ex__image {
    position: absolute;
    left: 25%;
    top: 0px;
    transform: translateX(-30%);
}

.ex__image img {
    height: calc(80vh - 5px);
    object-fit: cover;
}

.ex__content {
    position: absolute;
    top: 0px;
    right: 10%;
    color:white;
    text-align: right;
    width: 30vw;
    height: calc(80vh - 5px);
    outline: solid red 2px;
    align-content: center;
    font-size: 15px;
    font-family: 'spectral';
}